body {
  margin: 0;
  padding: 0;
}

.kort {
  padding: 1rem;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  color: #0f172a;
  font-family: sans-serif;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.25rem;
}

.kort .btn {
  display: inline-block;
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-color: #0f172a;
  text-decoration: none;
  color: #f8fafc;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.kort img {
  max-width: 100%;
  height: auto;
}

.kort-rad {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem;
}

.kortLängre {
  height: 400px;
}
